body {
  background-color: #e8f2fc; }

header {
  width: 300px;
  margin: 20px auto;
  padding: 10px 5px;
  border-style: dotted;
  border-color: #aaa;
  border-width: 1px 0;
  /* Social Icons */ }
  header .site-title {
    margin-left: 100px; }
    header .site-title a {
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
      color: #333; }
      header .site-title a:hover {
        color: #000; }
    header .site-title .subtitle {
      font-size: 13px;
      font-weight: normal; }
  header .avatar {
    opacity: 0.9;
    border-radius: 42px;
    width: 85px;
    height: 85px;
    float: left; }
  header ul#socialize {
    margin: 10px 0 0 100px;
    padding: 0;
    list-style: none; }
    header ul#socialize li {
      float: left;
      padding-top: 5px;
      margin: 0 4px 5px 0; }
      header ul#socialize li.twitter a {
        background-position: -25px bottom; }
      header ul#socialize li.linkedin a {
        background-position: -200px bottom; }
      header ul#socialize li.github a {
        background-position: -575px bottom; }
    header ul#socialize a {
      background: url(/img/social_sprite.png) left bottom no-repeat;
      width: 25px;
      height: 25px;
      padding: 0;
      border: 0;
      display: block;
      text-indent: -999em;
      overflow: hidden;
      opacity: 0.8; }
      header ul#socialize a:hover {
        background-color: transparent;
        opacity: 1; }
      header ul#socialize a:active {
        position: relative;
        top: 1px; }

.content {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 22px; }
  .content img {
    max-width: 100%;
    height: auto;
    margin: 5px 0; }

.posts {
  padding: 0; }
  .posts li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px dotted #aaa; }
    .posts li span {
      font-size: 14px;
      color: #666;
      font-family: monospace;
      padding-right: 10px;
      display: inline-block; }
    .posts li:last-child {
      border-bottom: none; }
