---
---

@charset "utf-8";

@mixin displayFont {
  font-family: 'Merriweather', serif;
}

@mixin textFont {
  font-family: 'Source Sans Pro', sans-serif;
}

@mixin cf {
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

body {
  background: #C6CACF;
  color: #222;
  @include textFont;
  font-size: 20px;
}

a {
  color: #484863;

  &:active {
    color: darken(#484863, 15%);
  }
}

.container {
  width: 90%;
  max-width: 650px;
  margin: 20px auto;
}

.nav {
  border-bottom: 1px solid #484A4C;
  @include cf;

  h1 {
    @include displayFont;
    font-weight: normal;
    float: left;
    margin: 0;
    font-size: 32px;
    line-height: 64px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
    line-height: 64px;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  a {
    color: #222;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: #444;
    }
  }
}

@media screen and (min-width: 640px) {
  .nav {
    ul {
      float: right;
      clear: none;
    }

    li {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
