---
---

@charset "utf-8";

@mixin cf {
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #EBF4F6;
  color: #222;
  font-size: 20px;
  line-height: 1.5;
}

a {
  color: #38369A;

  &:active {
    color: darken(#38369A, 15%);
  }
}

.container {
  width: 90%;
  max-width: 650px;
  margin: 25px auto;
}

.nav {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  @include cf;

  h1 {
    font-weight: bold;
    float: left;
    margin: 0;
    font-size: 32px;
    line-height: 32px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
    line-height: 32px;
  }

  li {
    display: inline;
    margin-right: 20px;
  }

  a {
    color: #222;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: #444;
    }
  }
}

@media screen and (min-width: 640px) {
  .nav {
    ul {
      float: right;
      clear: none;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    li {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}
