{% include header.ext %}

<div id="post-wrapper">
  <ol id="posts">
    <li class="post nav">
      <ul class="post-archive">
        {% for post in site.posts limit:3 %}
          <li>
            <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
            <span class="posted-at">{{ post.date | date_to_string }}</span>
            <span class="abstract">{{ post.abstract }} <a class="read-more" href="{{site.url}}{{ post.url }}">Read more...</a></span>
          </li>
        {% endfor %}
        {% for post in site.posts limit:3 offset:3 %}
          <li>
            <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
            <span class="posted-at">{{ post.date | date_to_string }}</span>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ol>

  <a href="{{site.url}}/archive" class="see-all-posts">See all posts &rarr;</a>

</div>

{% include footer.ext %}
