{% include header.ext %}

<div id="post-wrapper">
  <ol id="posts">
    <li class="post">
      <h3><a href="#">{{page.title}}</a>
      <span>{% if page.date %}{{ page.date | date_to_string }}{% endif %}</span></h3>
      {{ content }}
    </li>
  </ol>

  <div id="page-navigation">
    <div class="clear">&nbsp;</div>
    <div class="pull-left">
      {% if page.next.url %}
        <a href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
      {% endif %}
    </div>

    <div class="pull-right">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
      {% endif %}
    </div>
    <div class="clear">&nbsp;</div>
  </div>

</div>

{% include footer.ext %}
